body{
  width: auto;

  border-style: solid;
}
.top
{margin: 0 uto;
padding: 0;
  height: 150px;
}
#toptitle, #logotop
{
border: solid 1px red;
width: 400px;
 margin:0;
float: left;
}

#toptitle
{


height: 150px;
padding: 0 50 0 0px;


}
